.mt-2 {
  margin-top: 0.5rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.pt-5 {
  padding-top: 1.25rem
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity))
}
